langchain==0.3.23
langchain_chroma==0.2.2
langchain_community==0.3.21
langchain_core==0.3.51
pydantic==2.11.3
python-dotenv==1.1.0
setuptools==72.1.0
streamlit==1.42.2
zhipuai==2.1.5.20250410
pysqlite3-binary
